.dropzone {
  width: 100%;
  height: 50px;
  border: 1px dotted black;
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
  padding: 5px;
  margin: 0;
  overflow: hidden;
}

.dropzone:hover {
  cursor: pointer;
}


.page {
  margin-left: 210px;
}

@media only screen and (max-width: 600px) {
  .page {
    margin-left: 48px;
  }
  .sidebar {
    max-width: 47px;
  }
}

